 
   
    
    .modal-wrapper {
      background: red;
      border-radius: 4px;
    }
    .close-modal {
      height: 30px;
      width: 30px;
      background: yellow;
    }  
 
.modal-bg {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333333;
  background: rgba(3, 3, 3, 0.3);

  z-index: 101;

  transition: display 1s ease-in;
}

  .ie7 .modal-bg,
  .ie8 .modal-bg  {
    background: transparent;
    zoom: 1;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); /* IE 6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8 */
  }

.modal-wrapper {
  height: 400px;
  width: 40%;
  overflow: auto;

  margin: auto;
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  z-index: 999;
}
  .lt-ie8 .modal-wrapper {
  
    filter: alpha(opacity=100);
  }

  @media (max-width: 1130px) {
    .modal-wrapper{
      width: 52%;
    }
  }
  @media (max-width: 930px) {
    .modal-wrapper{
      width: 60%;
    }
  }
  @media (max-width: 770px) {
    .modal-wrapper{
      width: 90%;
    }
  }

.close-modal {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;

  z-index: 103;
}